USE [master]
GO
/****** Object:  Database [FPF]    Script Date: 4/21/2026 12:24:51 AM ******/
CREATE DATABASE [FPF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FPF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FPF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FPF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\FPF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FPF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FPF]
GO
/****** Object:  Table [dbo].[Jogo]    Script Date: 4/21/2026 12:24:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo_Jogo] [varchar](20) NOT NULL,
	[Data_Hora_Inicio] [datetime] NOT NULL,
	[Equipa_Casa] [varchar](100) NOT NULL,
	[Equipa_Fora] [varchar](100) NOT NULL,
	[Golos_Casa] [int] NULL,
	[Golos_Fora] [int] NULL,
	[Estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo_Jogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((0)) FOR [Golos_Casa]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((0)) FOR [Golos_Fora]
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((1)) FOR [Estado]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteJogo]    Script Date: 4/21/2026 12:24:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Delete a game (only if Scheduled)
CREATE PROCEDURE [dbo].[sp_DeleteJogo]
    @Codigo_Jogo VARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Jogo WHERE Codigo_Jogo = @Codigo_Jogo AND Estado = 1)
    BEGIN
        RAISERROR('Só é permitido remover jogos no estado Agendado.', 16, 4);
        RETURN;
    END

    DELETE FROM Jogo WHERE Codigo_Jogo = @Codigo_Jogo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetJogo]    Script Date: 4/21/2026 12:24:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get a specific game by code
CREATE PROCEDURE [dbo].[sp_GetJogo]
    @Codigo_Jogo VARCHAR(20)
AS
BEGIN
    SELECT * FROM Jogo WHERE Codigo_Jogo = @Codigo_Jogo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetJogos]    Script Date: 4/21/2026 12:24:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get all games with optional filters
CREATE PROCEDURE [dbo].[sp_GetJogos]
    @Data DATETIME = NULL,
    @Estado INT = NULL
AS
BEGIN
    SELECT * FROM Jogo
    WHERE (@Data IS NULL OR CAST(Data_Hora_Inicio AS DATE) = CAST(@Data AS DATE))
    AND (@Estado IS NULL OR Estado = @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertJogo]    Script Date: 4/21/2026 12:24:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insert a new game
CREATE PROCEDURE [dbo].[sp_InsertJogo]
    @Codigo_Jogo VARCHAR(20),
    @Data_Hora_Inicio DATETIME,
    @Equipa_Casa VARCHAR(100),
    @Equipa_Fora VARCHAR(100),
    @Estado INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Jogo WHERE Codigo_Jogo = @Codigo_Jogo)
    BEGIN
        RAISERROR('Já existe um jogo com o código %s.', 16, 1, @Codigo_Jogo);
        RETURN;
    END

    INSERT INTO Jogo (Codigo_Jogo, Data_Hora_Inicio, Equipa_Casa, Equipa_Fora, Estado)
    VALUES (@Codigo_Jogo, @Data_Hora_Inicio, @Equipa_Casa, @Equipa_Fora, @Estado);

    SELECT SCOPE_IDENTITY() AS ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateJogo]    Script Date: 4/21/2026 12:24:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update a game's state and score
CREATE PROCEDURE [dbo].[sp_UpdateJogo]
    @Codigo_Jogo VARCHAR(20),
    @Estado INT,
    @Golos_Casa INT,
    @Golos_Fora INT
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Jogo WHERE Codigo_Jogo = @Codigo_Jogo)
    BEGIN
        RAISERROR('Jogo %s não encontrado.', 16, 2, @Codigo_Jogo);
        RETURN;
    END

    DECLARE @EstadoAtual INT;
    SELECT @EstadoAtual = Estado FROM Jogo WHERE Codigo_Jogo = @Codigo_Jogo;

    IF @EstadoAtual = 3 AND @Estado = 2
    BEGIN
        RAISERROR('Um jogo Finalizado não pode voltar a Em Curso.', 16, 3);
        RETURN;
    END

    IF @EstadoAtual IN (4, 5)
    BEGIN
        RAISERROR('Um jogo Cancelado ou Adiado não pode mudar de estado.', 16, 3);
        RETURN;
    END

    UPDATE Jogo
    SET Estado = @Estado, Golos_Casa = @Golos_Casa, Golos_Fora = @Golos_Fora
    WHERE Codigo_Jogo = @Codigo_Jogo;
END;
GO
USE [master]
GO
