USE [master]
GO
/****** Object:  Database [Pagamentos]    Script Date: 4/21/2026 12:25:25 AM ******/
CREATE DATABASE [Pagamentos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pagamentos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Pagamentos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pagamentos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Pagamentos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pagamentos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pagamentos]
GO
/****** Object:  Table [dbo].[Saldo_Utilizador]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Saldo_Utilizador](
	[Utilizador_ID] [int] NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
	[Data_Hora_Atualizacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Utilizador_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transacao]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transacao](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Aposta_ID] [int] NULL,
	[Utilizador_ID] [int] NOT NULL,
	[Tipo_Transacao] [char](2) NOT NULL,
	[Valor] [decimal](10, 2) NOT NULL,
	[Data_Hora] [datetime] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Saldo_Utilizador] ADD  DEFAULT ((0.00)) FOR [Saldo]
GO
ALTER TABLE [dbo].[Saldo_Utilizador] ADD  DEFAULT (getdate()) FOR [Data_Hora_Atualizacao]
GO
ALTER TABLE [dbo].[Transacao] ADD  DEFAULT (getdate()) FOR [Data_Hora]
GO
ALTER TABLE [dbo].[Transacao] ADD  DEFAULT ('Pendente') FOR [Estado]
GO
ALTER TABLE [dbo].[Saldo_Utilizador]  WITH CHECK ADD CHECK  (([Saldo]>=(0)))
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD CHECK  (([Estado]='Reembolsada' OR [Estado]='Falhada' OR [Estado]='Processada' OR [Estado]='Pendente'))
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD CHECK  (([Tipo_Transacao]='LV' OR [Tipo_Transacao]='DE' OR [Tipo_Transacao]='RE' OR [Tipo_Transacao]='PG' OR [Tipo_Transacao]='AP'))
GO
ALTER TABLE [dbo].[Transacao]  WITH CHECK ADD CHECK  (([Valor]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CreditarPremio]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Credit prize
CREATE PROCEDURE [dbo].[sp_CreditarPremio]
    @Utilizador_ID INT,
    @Aposta_ID INT,
    @Valor DECIMAL(10,2)
AS
BEGIN
    UPDATE Saldo_Utilizador
    SET Saldo = Saldo + @Valor, Data_Hora_Atualizacao = GETDATE()
    WHERE Utilizador_ID = @Utilizador_ID;

    INSERT INTO Transacao (Aposta_ID, Utilizador_ID, Tipo_Transacao, Valor, Estado)
    VALUES (@Aposta_ID, @Utilizador_ID, 'PG', @Valor, 'Processada');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CriarSaldo]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create user balance (called when a new user is created)
CREATE PROCEDURE [dbo].[sp_CriarSaldo]
    @Utilizador_ID INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Saldo_Utilizador WHERE Utilizador_ID = @Utilizador_ID)
    BEGIN
        RAISERROR('Já existe um saldo para este utilizador.', 16, 1);
        RETURN;
    END

    INSERT INTO Saldo_Utilizador (Utilizador_ID, Saldo)
    VALUES (@Utilizador_ID, 50.00);

    INSERT INTO Transacao (Utilizador_ID, Tipo_Transacao, Valor, Estado)
    VALUES (@Utilizador_ID, 'DE', 50.00, 'Processada');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DebitarAposta]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Debit bet amount
CREATE PROCEDURE [dbo].[sp_DebitarAposta]
    @Utilizador_ID INT,
    @Aposta_ID INT,
    @Valor DECIMAL(10,2)
AS
BEGIN
    DECLARE @SaldoAtual DECIMAL(10,2);
    SELECT @SaldoAtual = Saldo FROM Saldo_Utilizador WHERE Utilizador_ID = @Utilizador_ID;

    IF @SaldoAtual < @Valor
    BEGIN
        RAISERROR('Saldo insuficiente para realizar a aposta.', 16, 1);
        RETURN;
    END

    UPDATE Saldo_Utilizador
    SET Saldo = Saldo - @Valor, Data_Hora_Atualizacao = GETDATE()
    WHERE Utilizador_ID = @Utilizador_ID;

    INSERT INTO Transacao (Aposta_ID, Utilizador_ID, Tipo_Transacao, Valor, Estado)
    VALUES (@Aposta_ID, @Utilizador_ID, 'AP', @Valor, 'Processada');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Deposito]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deposit money
CREATE PROCEDURE [dbo].[sp_Deposito]
    @Utilizador_ID INT,
    @Valor DECIMAL(10,2)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM Saldo_Utilizador WHERE Utilizador_ID = @Utilizador_ID)
    BEGIN
        RAISERROR('Utilizador não encontrado.', 16, 1);
        RETURN;
    END

    IF @Valor <= 0
    BEGIN
        RAISERROR('O valor do depósito deve ser maior que zero.', 16, 1);
        RETURN;
    END

    UPDATE Saldo_Utilizador
    SET Saldo = Saldo + @Valor, Data_Hora_Atualizacao = GETDATE()
    WHERE Utilizador_ID = @Utilizador_ID;

    INSERT INTO Transacao (Utilizador_ID, Tipo_Transacao, Valor, Estado)
    VALUES (@Utilizador_ID, 'DE', @Valor, 'Processada');
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaldo]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get user balance
CREATE PROCEDURE [dbo].[sp_GetSaldo]
    @Utilizador_ID INT
AS
BEGIN
    SELECT * FROM Saldo_Utilizador WHERE Utilizador_ID = @Utilizador_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTransacoes]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get transactions for a user
CREATE PROCEDURE [dbo].[sp_GetTransacoes]
    @Utilizador_ID INT
AS
BEGIN
    SELECT * FROM Transacao WHERE Utilizador_ID = @Utilizador_ID ORDER BY Data_Hora DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Reembolso]    Script Date: 4/21/2026 12:25:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Refund bet
CREATE PROCEDURE [dbo].[sp_Reembolso]
    @Utilizador_ID INT,
    @Aposta_ID INT,
    @Valor DECIMAL(10,2)
AS
BEGIN
    UPDATE Saldo_Utilizador
    SET Saldo = Saldo + @Valor, Data_Hora_Atualizacao = GETDATE()
    WHERE Utilizador_ID = @Utilizador_ID;

    INSERT INTO Transacao (Aposta_ID, Utilizador_ID, Tipo_Transacao, Valor, Estado)
    VALUES (@Aposta_ID, @Utilizador_ID, 'RE', @Valor, 'Processada');
END;
GO
USE [master]
GO
